.profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  box-shadow: var(--body-boxshadow);
  border-radius: 16px;
}
.profile p {
  margin-bottom: 0;
}
.profileNip {
  display: flex;
  align-items: center;
}
.profileNip a {
  color: var(--bg-secondary-color);
}
.profileTitle {
  display: flex;
  align-items: center;
  width: 100%;
}
.profileInfo {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
}
.profileTitleAvatar {
  /* object-fit: cover; */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.3rem solid rgba(200, 200, 200, 0.4);
  border-radius: 50%;
  width: 5.5rem;
  height: 5.5rem;
}

.profileTitleAvatar img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  font-size: 0.8rem;
  text-align: center;
  cursor: pointer;
}
.profileInfo {
  color: var(--bg-secondary-color);
  font-size: 1.2rem;
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
}
.profileInfoName {
  color: var(--body-mute-color);
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 500;
  margin-right: 0.45rem;
  cursor: pointer;
  transition: all 0.3s;
}
.profileInfoName:hover {
  text-decoration: underline;
}
.profileInfo p {
  margin-bottom: 0.2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.profileStats span {
  font-weight: 700;
}
.profileStats p {
  color: var(--body-color);
  position: relative;
}
.profileZaps {
  color: var(--body-color);
  display: flex;
  font-size: 1rem;
}
.profileZaps p {
  margin-right: 0.5rem;
}
.profileZaps {
  margin-bottom: 0;
}
.profileZaps span {
  font-weight: 700;
}
.lastActive {
  font-size: 1rem;
  color: var(--bg-secondary-color);
}
.profileContentControl {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.8rem;
}
.profileButtons button {
  font-size: 0.85rem;
  padding: 4px 8px;
  margin-right: 0.3rem;
}
#menu-id a {
  display: flex;
  align-items: center;
}
#menu-id svg {
  margin-right: 5px;
}

.profileAbout {
  margin: 0.25rem 0;
}
.showMore {
  margin: 0.7rem 0;
}
.showMoreLink {
  color: var(--bg-secondary-color);
  cursor: pointer;
  transition: 0.3s;
}
.showMoreLink:hover {
  text-decoration: underline;
  color: black;
}
.profileNip p {
  margin: 0px;
  text-overflow: ellipsis;
}
.tab li {
  flex-grow: unset !important;
  margin-right: 5px;
}
.tab li button {
  border-radius: 50px !important;
  background-color: var(--body-tab-bg);
  color: var(--body-tab-color);
}
.tab li button:hover {
  color: var(--body-tab-color);
}

.moreBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  height: max-content;
  transform: translate(-50%, -50%);
  z-index: 6;
  padding: 1rem 2.5rem;
  background-color: var(--body-background);
  color: var(--body-color);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 16px;
}
.modalTextArea {
  background-color: var(--body-background);
  color: var(--body-color);
}
.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.modalContent p {
  word-wrap: break-word;
}
.modalBody {
  overflow: hidden;
}
.modalFooter {
  float: right;
}

.statsBar {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  box-shadow: var(--body-boxshadow);
  color: var(--body-color);
  border-radius: 16px;
  font-size: 1.1rem;
}

.statsBar a {
  color: var(--body-link-color);
  font-size: 1rem;
}
.statsBarWrapper {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--body-mutest-color);
}
.statsBarWrapper p {
  margin-bottom: 0;
}
.statsBarWrapper span {
  font-size: 1rem;
  color: var(--body-mute-color);
}
.textMute {
  color: var(--body-mute-color);
  font-size: 0.9rem;
  margin-bottom: 0;
}

@media screen and (max-width: 1000px) {
  .modal {
    width: 75%;
  }
}

@media screen and (max-width: 760px) {
  .modal {
    width: 98%;
  }
}
