.post {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-bottom: 2rem;
  padding: 0.9rem;
  box-shadow: var(--body-boxshadow);
  border-radius: 16px;
}
.postName {
  display: flex;
}
.postImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 10px;
  border: 2px solid rgba(200, 200, 200, 0.4);
  border-radius: 50%;
  cursor: pointer;
}
.postImage img {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.postNameLink {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--body-mute-color);
  cursor: pointer;
  transition: all 0.4s;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
}
.postNameLink:hover {
  text-decoration: underline;
}
.postAbout {
  font-size: 1rem;
  word-wrap: break-word;
}
.postStats {
  display: flex;
  align-items: center;
  color: var(--bg-secondary-color);
}
.postState {
  margin-right: 0.6rem;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
}
.postState span {
  margin-left: 0.25rem;
}
.postState a {
  color: var(--bg-secondary-color);
  text-decoration: none;
  margin-right: 0.6rem;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  transition: 0.3s all;
}
.postState a:hover {
  text-decoration: underline;
}
.btnLink button {
  margin: 10px 0;
  color: var(--bg-secondary-color);
  border: 1px solid var(--bg-secondary-color);
}
.bannerWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.banner {
  max-width: 25%;
  margin: 10px;
}
.bannerMovie {
  width: 50%;
}
.modal {
  cursor: pointer;
}
.modalContainer {
  position: absolute;
  padding: 1rem;
  background-color: black;
  border-radius: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalClose {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 45px;
  height: 45px;
  color: var(--bg-secondary-color);
  cursor: pointer;
  z-index: 11;
  transition: all 0.3s;
}
.modalClose:hover {
  color: rgba(255, 255, 255, 0.837);
}

.carouselItem {
  padding: 0.6rem;
  background-color: black;
}
.carouselItemWrapper {
  width: 100%;
  height: 100%;
  background-color: black;
}

.modalContainer {
  position: absolute;
  padding: 1rem;
  background-color: black;
  border-radius: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalContainer img {
  max-width: 75vw;
  width: auto;
  height: auto;
  max-height: 75vh;
  border-radius: 16px;
}
.replyTo {
  color: var(--bg-secondary-color);
  font-size: 0.8rem;
  margin: 0 0 0.3rem 0;
}
@media screen and (max-width: 400px) {
  .bannerMovie {
    width: 100%;
  }
  .banner {
    max-width: 48%;
  }
}
