.card-skeleton {
  width: 100%;
  height: 13.75rem;
  margin-bottom: 2rem;
  padding: 1rem;
  box-shadow: var(--body-boxshadow);
  border-radius: 16px;
}
.left-col {
  margin-right: 10px;
}
.right-col {
  width: 80%;
}
.card-skeleton-header {
  display: flex;
  align-items: center;
}
