.header-logo {
  text-decoration: none;
  color: var(--body-color);
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  margin-right: 0.6rem;
}

.logo-img {
  margin-right: 5px;
  display: inline;
  width: 26px;
  height: 26px;
}

a {
  font-size: 1rem;
}
#profile-drop-menu {
  display: flex;
  align-items: center;
  color: var(--body-color);
}
.profile-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-avatar {
  margin-right: 0.2rem;
  width: 30px;
  height: 30px;
}
.profile-avatar img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
