.header-logo {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  margin-right: 0.6rem;
}

.logo-img {
  margin-right: 5px;
  display: inline;
  width: 26px;
  height: 26px;
}

a {
  font-size: 1rem;
}
