.bannerWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.banner {
  max-width: 25%;
  margin: 10px;
}
.bannerMovie {
  width: 50%;
}
.modal {
  cursor: pointer;
}
.modalContainer {
  position: absolute;
  padding: 1rem;
  background-color: black;
  border-radius: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalClose {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 45px;
  height: 45px;
  color: var(--bg-secondary-color);
  cursor: pointer;
  z-index: 11;
  transition: all 0.3s;
}
.modalClose:hover {
  color: rgba(255, 255, 255, 0.837);
}

.carouselItem {
  padding: 0.6rem;
  background-color: black;
}
.carouselItemWrapper {
  width: 100%;
  height: 100%;
  background-color: black;
}

.modalContainer {
  position: absolute;
  padding: 1rem;
  background-color: black;
  border-radius: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalContainer img {
  max-width: 75vw;
  width: auto;
  height: auto;
  max-height: 75vh;
  border-radius: 16px;
}
.replyTo {
  color: var(--body-mute-color);
  font-size: 0.8rem;
  margin: 0 0 0.3rem 0;
}
@media screen and (max-width: 400px) {
  .bannerMovie {
    width: 100%;
  }
  .banner {
    max-width: 48%;
  }
}
