.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__links button {
  font-size: 1rem;
  text-decoration: none;
  color: var(--body-mute-color);
}
.footer__links button:hover {
  color: var(--body-mute-color-hover);
}

.footer p {
  color: var(--bg-secondary-color);
  font-size: 0.9rem;
}
