.note {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-bottom: 2rem;
  padding: 0.9rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 16px;
}
.noteAuthorAvatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  margin-right: 10px;
  border: 2px solid rgba(200, 200, 200, 0.4);
  border-radius: 50%;
  cursor: pointer;
}

.noteAuthorAvatar img {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.noteNameLink {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--bg-secondary-color);
  cursor: pointer;
  transition: all 0.4s;
  margin-right: 0.3rem;
}
.noteNameLink:hover {
  text-decoration: underline;
}
.noteAuthor {
  display: flex;
  align-items: center;
}
.replyTo {
  color: var(--bg-secondary-color);
  font-size: 0.8rem;
  margin: 0 0 0.3rem 0;
}
.noteCreated {
  color: var(--bg-secondary-color);
  margin-right: 0.6rem;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
}
.noteAbout p {
  font-size: 1.2rem;
}

.postStats {
  display: flex;
  align-items: center;
  color: var(--bg-secondary-color);
}

.postState {
  margin-right: 0.6rem;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}
.postState span {
  margin-left: 0.25rem;
}
.profileContentControl {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.8rem;
}
.profileButtons button {
  font-size: 0.85rem;
  padding: 4px 8px;
  margin-right: 0.3rem;
}
#menu-id a {
  display: flex;
  align-items: center;
}
#menu-id svg {
  margin-right: 5px;
}
.tab li {
  flex-grow: unset !important;
  margin-right: 5px;
}
.tab li button {
  border-radius: 50px !important;
  background-color: var(--body-tab-bg);
  color: var(--body-tab-color);
}
.tab li button:hover {
  color: var(--body-tab-color);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  height: max-content;
  transform: translate(-50%, -50%);
  z-index: 6;
  padding: 1rem 2.5rem;
  background-color: white;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 16px;
}
.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.modalContent p {
  word-wrap: break-word;
}
.modalBody {
  overflow: hidden;
}
.modalFooter {
  float: right;
}
.btnLink button {
  margin: 10px 0;
  color: var(--bg-secondary-color);
  border: 1px solid var(--bg-secondary-color);
}

.repliesWrapper {
  box-shadow: var(--body-boxshadow);
  border-radius: 16px;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .modal {
    width: 75%;
  }
}

@media screen and (max-width: 760px) {
  .modal {
    width: 98%;
  }
}
