.post {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-bottom: 2rem;
  padding: 0.9rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 16px;
}
.postName {
  display: flex;
}
.postImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 10px;
  border: 2px solid rgba(200, 200, 200, 0.4);
  border-radius: 50%;
  cursor: pointer;
}
.postImage img {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}
.postName p {
  font-size: 1.2rem;
  color: var(--bg-secondary-color);
}
.postAbout {
  font-size: 1rem;
  word-wrap: break-word;
}
.postStats {
  display: flex;
  align-items: center;
  color: var(--bg-secondary-color);
}
.postState {
  margin-right: 0.6rem;
  display: flex;
  align-items: center;
}
.postState {
  font-size: 0.85rem;
}
.postState span {
  margin-left: 0.25rem;
}
.btnLink button {
  margin: 10px 0;
  color: var(--bg-secondary-color);
  border: 1px solid var(--bg-secondary-color);
}
.bannerWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.banner {
  max-width: 25%;
  margin: 10px;
}
.bannerMovie {
  width: 50%;
}

@media screen and (max-width: 400px) {
  .bannerMovie {
    width: 100%;
  }
  .banner {
    max-width: 48%;
  }
}
